{% extends 'base.html'%}
{%block content%}
<h2>Контакты</h2>
<a href="{%url 'contact_create' %}" class="btn-3">+ Добавить контакт</a>
{%for contact in object_list%}
<div class="main_cards">
    <div class="card">
        <h5>{{contact.full_name}}</h5>
        <p>Телефон: {{contact.phone}} <br>
            Организация: {{contact.organisation|default: "-"}} <br>
            {{contact.note|linebreaks}}</p>
        <a href="{% url 'contact_update' contact.pk %}" class="contact_update">Изменить</a>
        <a href="{% url 'contact_delete' contact.pk %}" class="contact_delete">Удалить</a>
    </div>
</div>
{%endfor%}
{%endblock%}